.visually-hidden {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFFFFF;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.page-header {
    border: 1px solid #AE7C78;
    margin-top: 26px;
}

a {
    text-decoration: none;
    color: #AE7C78;
}

ul {
    list-style-type: none;
}


.main-nav ul {
   display: grid;
   grid-template-columns: 168px 255px 127px 162px 249px 157px auto;
padding: 22px 102px; 
}
.header-eg {
    grid-column-end: 4;
}

.header-sg {
    grid-column-start: 5;
}

.img-center {
    position: absolute;
    margin-left: 710px;
    margin-top: 16px;
}

.text-disney {
    font-family: 'Playfair Display', serif;
    color: #AE7C78;
    font-size: 36px;
}

.text-montserat {
    font-family: 'Montserrat', sans-serif;
    color: #AE7C78;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    font-style: normal;
}

.intro-text {
    font-size: 24px;
    line-height: 29px;
    width: 384px;
    padding-bottom: 64px;
}

.top-heading {
    width: 384px;
    font-size: 44px;
line-height: 59px;
font-weight: normal;

}

.italic {
font-style: italic;
}

.top-info {
    margin-right: 23px;
}

.top-container {
    display: flex;
    margin-top: 81px;
    margin-right: 23px;
}

.button {
color: white;
background: #D89999;
border-radius: 40px;
width: 285px;
padding: 30px 69px 30px 70px;
}

.top-img-1 {
    margin-right: 20px;
    margin-top: 59px;
}

.top-img-2 {
    margin-top: 1px;
}
.dl-container {
    display: flex;
    margin-top: 90px;
    
}

.dl-img {
    margin-right: 20px;
}

.dl-img-1 {
    margin-right: 29px;
    margin-left: 58px;
}



.dt-heading {
    font-weight: 500;
    line-height: 20px;
    padding-bottom: 8px;
}

.dd-text {
    margin: 0 auto;
}

.popular {
    margin-top: 80px;
}

.popular-heading {
    text-align: center;
    font-weight: bold;
font-size: 36px;
line-height: 48px;
letter-spacing: 0.02em;
}

.slider {
    margin-top: 63px;
}

.slider-item {
display: flex;
justify-content: center;
}

.slider-item-description {
    width: 387px;
    margin-right: 20px;
}

.popular-heading-2 {
    font-weight: 500;
font-size: 24px;
line-height: 29px;
margin-bottom: 20px;
}

.text-price {
    margin-bottom: 24px;
}

.popular-price {
    font-weight: 500;
font-size: 24px;
line-height: 29px;
margin-bottom: 64px;
}

.popular-link {
    color: #FFFFFF;
    width: 285px;
    padding: 30px 107px 30px 105px;
    background: #D89999;
    border-radius: 40px;    
}

.slider-button {
    border: none;
    background-color: #FFFFFF;
}

.slider-button-1 {
    margin-right: 20px;
}

.slider-controls {
    text-align: center;
    margin-top: 24px;
}

.catalog-preview {
    margin-top: 80px;
}

.catalog-container {
    display: flex;
}

.link-img-1 {
    background: url("img/sammi-sP5CaWEN7Do-unsplash\ 1.jpg");
border-radius: 10px;
width: 387px;
height: 442px;
margin-right: 19px;
}

.img-123-bgc {
    background: rgba(174, 124, 120, 0.6);
    border-radius: 10px;
padding-top: 183px;
padding-bottom: 183px;

}

.link-img-2 {
    background: url("img/fresh-beautiful-peony-flowers-vase\ 1.jpg");
    border-radius: 10px;
    width: 387px;
    height: 442px;
    margin-right: 19px;
}

.link-img-3 {
    background: url("img/alyssa-strohmann-tnpr-hPOta0-unsplash\ 1.jpg");
    border-radius: 10px;
width: 387px;
height: 442px;
}


.catalog-heading {
    font-weight: bold;
line-height: 48px;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 8px;
}

.catalog-text {
    color: #FFFFFF;
    text-align: center;
}

.discount {
    margin-top: 80px;
    display: flex;
}



.discount-info {

    background: #AE7C78;
    width: 1200px;
}

.discount-heading {

    font-size: 44px;
line-height: 59px;
letter-spacing: 0.02em;
color: #FFFFFF;
width: 488px;
font-weight: normal;
padding-top: 40px;
padding-left: 102px;
font-style: normal;
margin-bottom: 24px;
}


.discount-text {
    font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
width: 387px;
color: #FFFFFF;
padding-left: 102px;

}

.order-steps {
    margin-top: 80px;
}

.order-steps-heading {
    margin-left: 345px;
    width: 509px;
    line-height: 48px;
font-weight: bold;
letter-spacing: 0.02em;
}

.order-steps-container {
    display: flex;
    margin-top: 37px;
}

.order-steps-card {
    text-align: center;
}

.order-steps-heading2 {
    font-weight: 500;
}

.news {
    margin-top: 80px;
    display: flex;
}

.news-info {
padding-top: 70px;
margin-right: 21px;
}

.info-img {
    display: grid;
    grid-template-columns: 285px 387px;
    grid-template-rows: 220px 220px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.info-img-1 {
padding-bottom: 20px;
}

.ul-container {
    display: flex;
  margin-top: 40px;
}

.ul-container li {
    margin-right: 20px;
}

.news-heading {
    width: 487px;
    font-style: normal;
font-weight: bold;
line-height: 48px;
letter-spacing: 0.02em;
}

.news-text {
    margin-top: 40px;
    font-size: 24px;
line-height: 29px;
}

.reviews {
    border: 1px solid #AE7C78;
box-sizing: border-box;
margin-top: 80px;
}

.reviews-heading {
    line-height: 48px;
font-weight: bold;
text-align: center;
letter-spacing: 0.02em;
width: 152px;
margin-left: 524px;
margin-bottom: 40px;
margin-top: 40px;
}

.blockquote-container {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-left: 44px;
padding-right: 44px;
padding-bottom: 64px;

}

.cite-text {
    font-weight: bold;
}



.contacts-container {
    padding-top: 52px;
    padding-left: 222px;
    background: #FFFFFF;
}

.contacts-info {
    background: #F7FAFC;
box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
border-radius: 12px;
width: 386px;
margin-top: 129px;
position: absolute;
}

.contacts-heading {
    line-height: 48px;
    font-weight: bold;
}

.contacts-text {
    font-weight: 500;
}


.page-footer {
    background: #AE7C78;
 
}

.footer-logo {
    padding-top: 30px;
text-align: center;    
}

.ul-color a {
color: #FFFFFF;
}

.ul-color {
    display: flex;
    justify-content: space-around;
}

.ul-nets {
    display: flex;
    justify-content: flex-end;
    padding-left: 1045px;
}

.ul-nets li {
    margin-right: 20px;
}